*{
    box-sizing: border-box;
}
.menu-right-icon{
   font-size: 20px;
   margin: 0 13px;
   cursor: pointer;
}
span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger {
    font-size: 8px;
}
header{
    background: #ECFDFF;
}
h1 {
    font-size: 60px;
}
div#carouselExampleSlidesOnly {
    padding: 5rem 0;
}
.btn-style {
    font-size: 20px;
    padding: 15px 35px;
}
.explr-btn{
    letter-spacing: 2px;
}
i.fas.fa-sort-up {
    transform: rotate(90deg);
}
.feture-explor-btn{
    margin-top: 17rem;
}
.carousel-inner>.carousel-item>.row>.col-3{
    transition: 0.5s;
}
.carousel-inner>.carousel-item>.row>.col-3:hover{
    box-shadow: 0px -1px 20px -11px #000000;
    border-radius: 3px;
}
.our-sale-offer{
    background: #ECFDFF;
}
.subscribe-section{
    background: url(../images/subscribe_area.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 0;
}